{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <br>
        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <h5>Mes adresses </h5>
                    <a href="{{ path('app_account_address_form') }}" class="btn btn-light">Ajouter une adresse</a>
                </div>
                {% if app.user.addresses|length == 0 %}
                    <p>Vous n'avez aucune adresse enregistrée !</p>
                {% else %}
                    <div class="row">
                        {% for element in app.user.addresses %}
                            <div class="col-md-4 mt-2">
                                <div class="bg-light p-2 text-center">
                                    <strong>{{ element.firstname }} {{ element.lastname }}</strong><br>
                                    {{ element.address }}<br>
                                    {{ element.postal }}, {{ element.city }}<br>
                                    {{ element.contry }}<br>
                                    <a href="{{ path('app_account_address_form', {id: element.id}) }}" class="small text-secondary">Editer</a>
                                    <a href="{{ path('app_account_address_delete', {id: element.id}) }}" class="small text-secondary">Supprimer</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
