{% extends 'base.html.twig' %}

{% block body %}
    <!-- Carrousel -->
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <img src="{{ asset('uploads/img_head_1.jpeg')}}" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Des accessoires de pointe pour les mineurs de crypto</h1>
                        <p class="opacity-75">Découvrez notre sélection de matériel de minage et d'accessoires essentiels pour les mineurs de crypto.</p>
                        <p><a class="btn btn-lg btn-primary" href="{{ path('app_category', {'slug': 'accessoires-et-maintenance'}) }}">Découvrir</a></p>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <img src="{{ asset('uploads/im2_head.jpeg')}}" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Augmentez votre efficacité de minage</h1>
                        <p>Découvrez nos outils et accessoires qui vous permettront d'optimiser votre activité de minage et de maximiser vos rendements.</p>
                        <p><a class="btn btn-lg btn-primary" href="{{ path('app_category', {'slug': 'materiel-de-minage'}) }}">Voir plus</a></p>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <img src="{{ asset('uploads/img3_head.jpeg')}}" class="d-block w-100" alt="...">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Explorez notre collection exclusive</h1>
                        <p>Découvrez nos produits uniques et innovants conçus spécialement pour les mineurs de crypto. Ne manquez pas nos offres spéciales!</p>
                        <p><a class="btn btn-lg btn-primary" href="{{ path('app_category', {'slug': 'logiciels-et-outils-de-minage'}) }}">Explorer</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contrôles du carrousel -->
         <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

    <!-- Contenu principal -->
    <div class="container marketing">

        <!-- Trois colonnes de texte sous le carrousel -->
        <div class="row">
            <!-- Colonne 1 -->
            <div class="col-lg-4">
                <img src="{{ asset('uploads/2024-05-24-00dcf0ebfbf26da603fc37417233f588ea8150e7.jpg')}}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2 class="fw-normal">Matériel de minage</h2>
                <p>Explorez notre sélection de matériel de minage de pointe, conçu pour maximiser vos rendements en crypto.</p>
                <p><a class="btn btn-primary" href="{{ path('app_category', {'slug': 'materiel-de-minage'}) }}">En savoir plus &raquo;</a></p>
            </div>
            <!-- Colonne 2 -->
            <div class="col-lg-4">
                <img src="{{ asset('uploads/2024-05-24-8e4e6d353a5f820b03dcf98e0136b0d8edf527f7.webp')}}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2 class="fw-normal">Accessoires</h2>
                <p>Découvrez nos accessoires essentiels pour les mineurs de crypto, conçus pour rendre votre expérience de minage plus efficace et pratique.</p>
                <p><a class="btn btn-primary" href="{{ path('app_category', {'slug': 'accessoires-et-maintenance'}) }}">En savoir plus &raquo;</a></p>
            </div>
            <!-- Colonne 3 -->
            <div class="col-lg-4">
                <img src="{{ asset('uploads/offer_special.jpeg')}}" class="bd-placeholder-img rounded-circle" width="140" height="140">
                <h2 class="fw-normal">Offres spéciales</h2>
                <p>Profitez de nos offres spéciales sur une sélection d'accessoires et de matériel de minage. Économisez sur vos achats dès aujourd'hui!</p>
                <p><a class="btn btn-primary" href="{{ path('app_product', {'slug' : 'antminer-s19-pro'}) }}">En savoir plus &raquo;</a></p>
            </div>
        </div>

        <!-- Démarrer les caractéristiques -->
        <hr class="featurette-divider">

        <!-- Caractéristique 1 -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Matériel de pointe. <span class="text-body-secondary">Pour des performances optimales.</span></h2>
                <p class="lead">Découvrez notre sélection de matériel de minage de crypto de haute qualité, conçu pour offrir des performances exceptionnelles et des rendements élevés.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('uploads/bodyimg1.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <!-- Caractéristique 2 -->
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Accessoires innovants. <span class="text-body-secondary">Pour une expérience optimale.</span></h2>
                <p class="lead">Explorez notre collection d'accessoires pour les mineurs de crypto, comprenant des outils et des équipements innovants conçus pour simplifier et améliorer votre expérience de minage. Que vous ayez besoin de câbles, de boîtiers de protection ou d'autres accessoires, nous avons tout ce qu'il vous faut pour réussir dans le monde du minage de crypto.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('uploads/img2body.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <!-- Caractéristique 3 -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Offres exclusives. <span class="text-body-secondary">Pour des économies exceptionnelles.</span></h2>
                <p class="lead">Ne manquez pas nos offres spéciales sur une sélection d'accessoires et de matériel de minage. Profitez de remises exclusives et économisez sur vos achats pour maximiser vos rendements en crypto.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('uploads/body3img.jpeg')}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
            </div>
        </div>


        <hr class="featurette-divider">
    </div>
{% endblock %}
